body {
  font-family: sans-serif;
  background-image: url("../images/fontMarbrer.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}
.traiDoree {
  background-image: url("../images/traidoree.PNG");
  background-repeat: no-repeat;
  background-size: cover;
}
.bgimg {
  background-image: url("../images/New_Elegant_Logo1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  /* background-color: rgb(4, 4, 56); */
}

/* clear fix */
.grid:after {
  content: "";
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid-sizer,
.grid-item {
  width: 33.333%;
}

.grid-item {
  float: left;
}

.grid-item img {
  display: block;
  max-width: 100%;
}
